<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="calibre"/>
	<package id="curl"/>
	<package id="discord"/>
	<package id="exiftool"/>
	<package id="firefox"/>
	<package id="git"/>
	<package id="googlechrome"/>
	<package id="neovim"/>
	<package id="nerd-fonts-firacode">
	<package id="nerd-fonts-hack"/>
	<package id="obsidian"/>
	<package id="obs-studio"/>
	<package id="qbittorrent"/>
	<package id="spotify"/>
	<package id="telegram"/>
	<package id="vscode"/>
	<package id="wget"/>
</packages>
