[user]
    name =
    email =
[init]
    defaultBranch = main
[core]
    excludesFile = ~/.gitignore_global
[pretty]
    pretty-history = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
[alias]
    ph = log --graph --pretty=pretty-history --abbrev-commit --date=relative
